body {
    text-align: center;
    margin: 0;
    background: rgb(92, 83, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

#calculator {
    max-width: 360px;
    background: linear-gradient(145deg, #333333, #222222);
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px black;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: rgb(237, 14, 14);
    background-color: rgb(22, 21, 21);
    border: none;
    background-color: #1a1a1a;
    border: 1px solid #444;
    box-sizing: border-box;
}

.operator {
    color: red;
}


.equal {
    width: calc(50% - 10px);
}

button {
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: white;
    background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
    border: 1px solid #ccc;
    box-shadow: -1px 1px 10px -2px black
}

button:hover {
    cursor: pointer;
    background: linear-gradient(145deg, #d9d9d9, #f0f0f0)
}

button:active {
    transform: scale(0.98);
    opacity: 0.9; 
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(145deg, #e0e0e0, #cfcfcf);
}

